In [1]:
import pandas as pd 
import csv
import spacy
import pt_core_news_sm
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter
from nltk import ngrams

from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics import accuracy_score 
from sklearn.base import TransformerMixin 
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC

from geopy import geocoders  
import string
import time

In [200]:
df = pd.read_csv(r'Vagas+Catho+Gupy+Indeed.csv')

In [201]:
df.head()

,Cidade,Competências,Descrição_da_empresa,Empresa,Estado,Nome_da_vaga,Termo_pesquisado
0,brasilia,o cientista de dados ou data scientist e consi...,NaN,NaN,DF,vaga de cientista de dados em brasilia - df,cientista de dados
1,londrina,"utilizar modelos matematicos e estatisticos, p...",NaN,NaN,PR,vaga de cientista de dados em londrina - pr,cientista de dados
2,rio de janeiro,interpretacao de tendencias. refino de base de...,NaN,NaN,RJ,vaga de data scientist junior/ cientista de da...,cientista de dados
3,rio de janeiro,"modelar problemas complexos, identificar oport...",NaN,NaN,RJ,vaga de data scientist senior/ cientista de da...,cientista de dados
4,rio de janeiro,realizar projetos sprint de desenvolvimento e ...,NaN,NaN,RJ,vaga de cientista de dados (aut) em rio de jan...,cientista de dados

In [276]:
df_cidades = df.copy()

In [277]:
df_cidades.head()

,Cidade,Competências,Descrição_da_empresa,Empresa,Estado,Nome_da_vaga,Termo_pesquisado,Latitude,Longitude
0,brasilia,o cientista de dados ou data scientist e consi...,NaN,NaN,DF,vaga de cientista de dados em brasilia - df,cientista de dados,-10.333333,-53.200000
1,londrina,"utilizar modelos matematicos e estatisticos, p...",NaN,NaN,PR,vaga de cientista de dados em londrina - pr,cientista de dados,-23.311288,-51.159502
2,rio de janeiro,interpretacao de tendencias. refino de base de...,NaN,NaN,RJ,vaga de data scientist junior/ cientista de da...,cientista de dados,-22.911014,-43.209373
3,rio de janeiro,"modelar problemas complexos, identificar oport...",NaN,NaN,RJ,vaga de data scientist senior/ cientista de da...,cientista de dados,-22.911014,-43.209373
4,rio de janeiro,realizar projetos sprint de desenvolvimento e ...,NaN,NaN,RJ,vaga de cientista de dados (aut) em rio de jan...,cientista de dados,-22.911014,-43.209373

In [278]:
columns = ['Competências', 'Descrição_da_empresa', 'Empresa', 'Nome_da_vaga', 'Termo_pesquisado']
df_cidades.drop(columns, inplace=True, axis=1)

In [279]:
df_cidades

                  Cidade Estado   Latitude  Longitude
0               brasilia     DF -10.333333 -53.200000
1               londrina     PR -23.311288 -51.159502
2         rio de janeiro     RJ -22.911014 -43.209373
3         rio de janeiro     RJ -22.911014 -43.209373
4         rio de janeiro     RJ -22.911014 -43.209373
5         rio de janeiro     RJ -22.911014 -43.209373
6         rio de janeiro     RJ -22.911014 -43.209373
7         rio de janeiro     RJ -22.911014 -43.209373
8           porto alegre     RS -30.032500 -51.230377
9               blumenau     SC -26.919557 -49.065802
10         florianopolis     SC -27.597300 -48.549610
11         florianopolis     SC -27.597300 -48.549610
12    sao caetano do sul     SP -23.619592 -46.568832
13             sao paulo     SP -23.550651 -46.633382
14             sao paulo     SP -23.550651 -46.633382
15             sao paulo     SP -23.550651 -46.633382
16             sao paulo     SP -23.550651 -46.633382
17             sao paulo     SP -23.550651 -46.633382
18             sao paulo     SP -23.550651 -46.633382
19             sao paulo     SP -23.550651 -46.633382
20             sao paulo     SP -23.550651 -46.633382
21             sao paulo     SP -23.550651 -46.633382
22             sao paulo     SP -23.550651 -46.633382
23             sao paulo     SP -23.550651 -46.633382
24             sao paulo     SP -23.550651 -46.633382
25             sao paulo     SP -23.550651 -46.633382
26             sao paulo     SP -23.550651 -46.633382
27             sao paulo     SP -23.550651 -46.633382
28             sao paulo     SP -23.550651 -46.633382
29             sao paulo     SP -23.550651 -46.633382
...                  ...    ...        ...        ...
2248      belo horizonte     MG -19.922732 -43.945095
2249           sao paulo     SP -23.550651 -46.633382
2250           sao paulo     SP -23.550651 -46.633382
2251      belo horizonte     MG -19.922732 -43.945095
2252           sao paulo     SP -23.550651 -46.633382
2253              osasco     SP -23.311288 -51.159502
2254                  br     il -23.311288 -51.159502
2255      rio de janeiro     RJ -22.911014 -43.209373
2256           sao paulo     SP -23.550651 -46.633382
2257           joinville     SC -23.311288 -51.159502
2258           sao paulo     SP -23.550651 -46.633382
2259           sao paulo     SP -23.550651 -46.633382
2260      rio de janeiro     RJ -22.911014 -43.209373
2261       florianopolis     SC -27.597300 -48.549610
2262            campinas     SP -22.905560 -47.060830
2263           sao paulo     SP -23.550651 -46.633382
2264        porto alegre     RS -30.032500 -51.230377
2265           sao paulo     SP -23.550651 -46.633382
2266           sao paulo     SP -23.550651 -46.633382
2267        porto alegre     RS -30.032500 -51.230377
2268           sao paulo     SP -23.550651 -46.633382
2269       florianopolis     SC -27.597300 -48.549610
2270           sao paulo     SP -23.550651 -46.633382
2271      rio de janeiro     RJ -22.911014 -43.209373
2272      belo horizonte     MG -19.922732 -43.945095
2273      belo horizonte     MG -19.922732 -43.945095
2274           sao paulo     SP -23.550651 -46.633382
2275       florianopolis     SC -27.597300 -48.549610
2276           sao paulo     SP -23.550651 -46.633382
2277        porto alegre     RS -30.032500 -51.230377

[2278 rows x 4 columns]

In [280]:
#data.groupby(['month', 'item'])['date'].count()
df_cidades.groupby(['Cidade', 'Estado']).count()

                               Latitude  Longitude
Cidade                 Estado
abelardo luz           SC             1          1
aguas mornas           SC             1          1
ananindeua             PA             2          2
aparecida de goiania   GO             3          3
apiai                  SP             2          2
aquiraz                CE             1          1
aracariguama           SP             1          1
arapongas              PR             1          1
araraquara             SP             2          2
araucaria              PR             1          1
aruja                  SP             2          2
atibaia                SP             2          2
barueri                SP            50         50
bauru                  SP             1          1
bebedouro              SP             7          7
belem                  PA             5          5
belo horizonte         MG            55         55
blumenau               SC             6          6
boituva                SP             3          3
br                     il             1          1
brasilia               DF            27         27
brusque                SC             3          3
cacapava               SP             1          1
caieiras               SP             1          1
cajamar                SP             3          3
camacari               BA             1          1
campinas               SP            52         52
campo bom              RS             1          1
campo grande           MS             1          1
canoas                 RS             1          1
...                                 ...        ...
santa luzia            MG             1          1
santana de parnaiba    SP             1          1
santo andre            SP             7          7
santos                 SP             3          3
sao bernardo do campo  SP            14         14
sao caetano do sul     SP            10         10
sao jose               SC             1          1
sao jose do rio preto  SP            27         27
sao jose dos campos    SP            15         15
sao jose dos pinhais   PR             4          4
sao luis               MA             5          5
sao pa                 lo             1          1
sao paulo              SP           614        614
serra                  ES             2          2
sete lagoas            MG             2          2
simao dias             SE             1          1
sorocaba               SP             4          4
sumare                 SP             1          1
suzano                 SP             2          2
taboao da serra        SP            10         10
taguatinga             DF             2          2
taubate                SP            20         20
teresina               PI             1          1
toledo                 PR             1          1
uberlandia             MG             7          7
valinhos               SP             1          1
vargem grande paulista SP             1          1
vinhedo                SP            21         21
vitoria                ES             1          1
votorantim             SP             1          1

[141 rows x 2 columns]

In [281]:
df_cidades.drop_duplicates(subset ="Cidade", inplace = True)

In [282]:
df_cidades = df_cidades.reset_index()

In [283]:
df_cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
index        163 non-null int64
Cidade       163 non-null object
Estado       140 non-null object
Latitude     163 non-null float64
Longitude    163 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 6.4+ KB

In [284]:
df_cidades

     index                 Cidade Estado   Latitude  Longitude
0        0               brasilia     DF -10.333333 -53.200000
1        1               londrina     PR -23.311288 -51.159502
2        2         rio de janeiro     RJ -22.911014 -43.209373
3        8           porto alegre     RS -30.032500 -51.230377
4        9               blumenau     SC -26.919557 -49.065802
5       10          florianopolis     SC -27.597300 -48.549610
6       12     sao caetano do sul     SP -23.619592 -46.568832
7       13              sao paulo     SP -23.550651 -46.633382
8       33               campinas     SP -22.905560 -47.060830
9       34         ribeirao preto     SP -21.178333 -47.806667
10      72                goiania     GO -16.680882 -49.253269
11      75         belo horizonte     MG -19.922732 -43.945095
12      77             uberlandia     MG -18.918804 -48.276784
13     115                pelotas     RS -23.311288 -51.159502
14     144                barueri     SP -23.311288 -51.159502
15     169                vinhedo     SP -23.311288 -51.159502
16     173             indaiatuba     SP -23.311288 -51.159502
17     194               camacari     BA -23.311288 -51.159502
18     195           praia grande     SP -23.311288 -51.159502
19     203                  belem     PA -23.311288 -51.159502
20     205                maringa     PR -23.311288 -51.159502
21     206               curitiba     PR -23.311288 -51.159502
22     228              joinville     SC -23.311288 -51.159502
23     267        taboao da serra     SP -23.311288 -51.159502
24     271  sao jose do rio preto     SP -23.311288 -51.159502
25     273             jaguariuna     SP -23.311288 -51.159502
26     294         jaragua do sul     SC -23.311288 -51.159502
27     301                 manaus     AM -23.311288 -51.159502
28     302               salvador     BA -23.311288 -51.159502
29     304                 recife     BA -23.311288 -51.159502
..     ...                    ...    ...        ...        ...
133   1394             simao dias     SE -23.311288 -51.159502
134   1395                 palmas     TO -23.311288 -51.159502
135   1399                vitoria     ES -23.311288 -51.159502
136   1475    presidente prudente    NaN -23.311288 -51.159502
137   1572          nao informado    NaN -23.311288 -51.159502
138   1685        duque de caxias    NaN -23.311288 -51.159502
139   1728                  betim    NaN -23.311288 -51.159502
140   1746              boa vista    NaN -23.311288 -51.159502
141   1777                marilia    NaN -23.311288 -51.159502
142   1779              americana    NaN -23.311288 -51.159502
143   1784              maracanau    NaN -23.311288 -51.159502
144   1785            hortolandia    NaN -23.311288 -51.159502
145   1786           rondonopolis    NaN -23.311288 -51.159502
146   1789                 itajai    NaN -23.311288 -51.159502
147   1790            passo fundo    NaN -23.311288 -51.159502
148   1791            barra mansa    NaN -23.311288 -51.159502
149   1793        pindamonhangaba    NaN -23.311288 -51.159502
150   1840               ipatinga    NaN -23.311288 -51.159502
151   1842            parauapebas    NaN -23.311288 -51.159502
152   2057                aracaju    NaN -23.311288 -51.159502
153   2068  campos dos goytacazes    NaN -23.311288 -51.159502
154   2093                uberaba    NaN -23.311288 -51.159502
155   2127                  macae    NaN -23.311288 -51.159502
156   2137              rio verde    NaN -23.311288 -51.159502
157   2146              paranagua    NaN -23.311288 -51.159502
158   2147              queimados    NaN -23.311288 -51.159502
159   2226                 sao pa     lo -23.311288 -51.159502
160   2239              londrina      PR -23.311288 -51.159502
161   2241               valinhos     SP -23.311288 -51.159502
162   2254                     br     il -23.311288 -51.159502

[163 rows x 5 columns]

In [285]:
df_cidades['Cidade'][0]

'brasilia'

In [297]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent='myapplication')

for i in range(141,len(df_cidades['Cidade'])):
    local = df_cidades['Cidade'][i]
    location = geolocator.geocode(local, exactly_one=False)[0]
    print(local)
    print(location.latitude)
    print(location.longitude)
    df.loc[df['Cidade'] == df_cidades['Cidade'][i], 'Latitude'] = location.latitude
    df.loc[df['Cidade'] == df_cidades['Cidade'][i], 'Longitude'] = location.longitude
    df_cidades.loc[df_cidades['Cidade'] == df_cidades['Cidade'][i], 'Latitude'] = location.latitude
    df_cidades.loc[df_cidades['Cidade'] == df_cidades['Cidade'][i], 'Longitude'] = location.longitude
    time.sleep( 4 )

marilia
-22.217108
-49.95006
americana
-22.7392463
-47.3306032
maracanau
-3.8779438
-38.6247697
hortolandia
-22.85833
-47.22
rondonopolis
-16.4603533
-54.6397099
itajai
-26.9117879
-48.6669852
passo fundo
-28.2616138
-52.4089048
barra mansa
-22.5394843
-44.1735129
pindamonhangaba
-22.9340165
-45.462938
ipatinga
-19.4777807
-42.5270802
parauapebas
-6.0696846
-49.8903283
aracaju
-10.9162061
-37.0774655
campos dos goytacazes
-21.7558619
-41.3326895
uberaba
-19.750833
-47.936666
macae
-22.3712958
-41.7866922
rio verde
-17.7921255
-50.9191219
paranagua
-25.5121904
-48.5251854
queimados
-22.7156978
-43.555754
sao pa
40.9699889
-77.7278831
londrina
-23.3112878
-51.1595023
valinhos
-22.97056
-46.99583
br
25.6440845
85.906508

In [292]:
df_cidades

     index                 Cidade Estado   Latitude  Longitude
0        0               brasilia     DF -15.793404 -47.882317
1        1               londrina     PR -23.311288 -51.159502
2        2         rio de janeiro     RJ -22.911014 -43.209373
3        8           porto alegre     RS -30.032500 -51.230377
4        9               blumenau     SC -26.919557 -49.065802
5       10          florianopolis     SC -27.597300 -48.549610
6       12     sao caetano do sul     SP -23.619592 -46.568832
7       13              sao paulo     SP -23.550651 -46.633382
8       33               campinas     SP -22.905560 -47.060830
9       34         ribeirao preto     SP -21.178333 -47.806667
10      72                goiania     GO -16.680882 -49.253269
11      75         belo horizonte     MG -19.922732 -43.945095
12      77             uberlandia     MG -18.918804 -48.276784
13     115                pelotas     RS -31.769974 -52.341016
14     144                barueri     SP -23.511218 -46.876461
15     169                vinhedo     SP -23.029518 -46.975629
16     173             indaiatuba     SP -23.090280 -47.218060
17     194               camacari     BA -12.699819 -38.326076
18     195           praia grande     SP -24.005833 -46.402778
19     203                  belem     PA  -1.450560 -48.468245
20     205                maringa     PR -23.425269 -51.938208
21     206               curitiba     PR -25.429596 -49.271272
22     228              joinville     SC -26.304490 -48.848673
23     267        taboao da serra     SP -23.612191 -46.779054
24     271  sao jose do rio preto     SP -20.812585 -49.380421
25     273             jaguariuna     SP -22.703740 -46.985062
26     294         jaragua do sul     SC -26.489743 -49.077806
27     301                 manaus     AM  -3.131633 -59.982504
28     302               salvador     BA -12.982250 -38.481277
29     304                 recife     BA -11.009906 -41.890444
..     ...                    ...    ...        ...        ...
133   1394             simao dias     SE -10.738830 -37.809016
134   1395                 palmas     TO -10.183560 -48.333779
135   1399                vitoria     ES  42.846509  -2.672403
136   1475    presidente prudente    NaN -23.311288 -51.159502
137   1572          nao informado    NaN -23.311288 -51.159502
138   1685        duque de caxias    NaN -23.311288 -51.159502
139   1728                  betim    NaN -23.311288 -51.159502
140   1746              boa vista    NaN -23.311288 -51.159502
141   1777                marilia    NaN -23.311288 -51.159502
142   1779              americana    NaN -23.311288 -51.159502
143   1784              maracanau    NaN -23.311288 -51.159502
144   1785            hortolandia    NaN -23.311288 -51.159502
145   1786           rondonopolis    NaN -23.311288 -51.159502
146   1789                 itajai    NaN -23.311288 -51.159502
147   1790            passo fundo    NaN -23.311288 -51.159502
148   1791            barra mansa    NaN -23.311288 -51.159502
149   1793        pindamonhangaba    NaN -23.311288 -51.159502
150   1840               ipatinga    NaN -23.311288 -51.159502
151   1842            parauapebas    NaN -23.311288 -51.159502
152   2057                aracaju    NaN -23.311288 -51.159502
153   2068  campos dos goytacazes    NaN -23.311288 -51.159502
154   2093                uberaba    NaN -23.311288 -51.159502
155   2127                  macae    NaN -23.311288 -51.159502
156   2137              rio verde    NaN -23.311288 -51.159502
157   2146              paranagua    NaN -23.311288 -51.159502
158   2147              queimados    NaN -23.311288 -51.159502
159   2226                 sao pa     lo -23.311288 -51.159502
160   2239              londrina      PR -23.311288 -51.159502
161   2241               valinhos     SP -23.311288 -51.159502
162   2254                     br     il -23.311288 -51.159502

[163 rows x 5 columns]

In [293]:
df

,Cidade,Competências,Descrição_da_empresa,Empresa,Estado,Nome_da_vaga,Termo_pesquisado,Latitude,Longitude
0,brasilia,o cientista de dados ou data scientist e consi...,NaN,NaN,DF,vaga de cientista de dados em brasilia - df,cientista de dados,-15.793404,-47.882317
1,londrina,"utilizar modelos matematicos e estatisticos, p...",NaN,NaN,PR,vaga de cientista de dados em londrina - pr,cientista de dados,-23.311288,-51.159502
2,rio de janeiro,interpretacao de tendencias. refino de base de...,NaN,NaN,RJ,vaga de data scientist junior/ cientista de da...,cientista de dados,-22.911014,-43.209373
3,rio de janeiro,"modelar problemas complexos, identificar oport...",NaN,NaN,RJ,vaga de data scientist senior/ cientista de da...,cientista de dados,-22.911014,-43.209373
4,rio de janeiro,realizar projetos sprint de desenvolvimento e ...,NaN,NaN,RJ,vaga de cientista de dados (aut) em rio de jan...,cientista de dados,-22.911014,-43.209373
5,rio de janeiro,"desenvolvimento de software, ajudar na constru...",NaN,NaN,RJ,vaga de cientista de dados em rio de janeiro - rj,cientista de dados,-22.911014,-43.209373
6,rio de janeiro,"sprints adicionais / avulsos de analytics, mac...",NaN,NaN,RJ,vaga de cientista de dados - ml em rio de jane...,cientista de dados,-22.911014,-43.209373
7,rio de janeiro,"modelar problemas complexos, identificar oport...",NaN,NaN,RJ,vaga de cientista de dados em rio de janeiro - rj,cientista de dados,-22.911014,-43.209373
8,porto alegre,"empresa referencia em data driven marketing,...",NaN,NaN,RS,vaga de cientista de dados em porto alegre - rs,cientista de dados,-30.032500,-51.230377
9,blumenau,"sera sua responsabilidade o levantamento, anal...",NaN,NaN,SC,vaga de cientista de dados em blumenau - sc,cientista de dados,-26.919557,-49.065802
10,florianopolis,"*curso superior completo em estatistica, econo...",NaN,NaN,SC,vaga de cientista de dados em florianopolis - sc,cientista de dados,-27.597300,-48.549610
11,florianopolis,"programacao, de preferencia python e r. trabal...",NaN,NaN,SC,vaga de cientista de dados em florianopolis - sc,cientista de dados,-27.597300,-48.549610
12,sao caetano do sul,organizar e validar os dados gerados pelas are...,NaN,NaN,SP,vaga de cientista de dados em sao caetano do s...,cientista de dados,-23.619592,-46.568832
13,sao paulo,"adquirir, avaliar e processar dados de varias ...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
14,sao paulo,transformar as fontes de dados e informacoes e...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
15,sao paulo,- solucionar problemas de negocios com tecnica...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
16,sao paulo,"ira atuar com ambientes de alta criticidade, c...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
17,sao paulo,"para fazer parte desse super time, precisamos ...",NaN,NaN,SP,vaga de cientista de dados - vojo em sao paulo...,cientista de dados,-23.550651,-46.633382
18,sao paulo,considerado a nova geracao de especialistas em...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
19,sao paulo,"projetar, implementar e suportar uma plataform...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
20,sao paulo,resolver problemas complexos e curiosidade par...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
21,sao paulo,atuar com metodos de modelagem e analise estat...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
22,sao paulo,"especialistas em analise de dados, com habilid...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
23,sao paulo,"desenvolver novas campanhas, estrategias e int...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
24,sao paulo,"identificar, avaliar a relevancia e preparar f...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
25,sao paulo,"desenvolver novas campanhas, estrategias e int...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
26,sao paulo,lidar com volume de dados de diversas fontes d...,NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
27,sao paulo,"tecnicas de machine learning, manipulacao e tr...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
28,sao paulo,"gigante nacional, atuante do segmento de servi...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
29,sao paulo,"a stefanini labs, celula de inovacao da stefan...",NaN,NaN,SP,vaga de cientista de dados em sao paulo - sp,cientista de dados,-23.550651,-46.633382
...,...,...,...,...,...,...,...,...,...
2248,belo horizonte,habilidades e requisitos exigidos: dominio tec...,NaN,grupo mult,MG,cientista de dados,cientista de dados,-19.922732,-43.945095
2249,sao paulo,as habilidades que sao esperadas de voce: nao ...,NaN,grupo zap,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2250,sao paulo,requisitos: dominio nas linguagens de programa...,NaN,holden recruiting talents,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2251,belo horizonte,"para ser cientista de dados na hotmart, estamo...",NaN,hotmart,MG,cientista de dados,cientista de dados,-19.922732,-43.945095
2252,sao paulo,o que buscamos: solida formacao academica; pai...,NaN,hprojekt,SP,coordenador de data science,cientista de dados,-23.550651,-46.633382
2253,osasco,quais serao os seus desafios e contribuicoes: ...,NaN,ifood,SP,cientista de dados,cientista de dados,-23.532486,-46.791680
2254,br,exigencias da vaga: afinidade com matematica e...,NaN,instituto atlantico,il,cientista de dados,cientista de dados,-23.311288,-51.159502
2255,rio de janeiro,requisitos: conhecimento e experiencia com apr...,NaN,intelie,RJ,cientista de dados,cientista de dados,-22.911014,-43.209373
2256,sao paulo,requisitos: experiencia em manipulacao e estru...,NaN,kantar,SP,cientista de dados pleno,cientista de dados,-23.550651,-46.633382
2257,joinville,habilidades tecnicas: ter mestrado ou doutorad...,NaN,magrathea labs,SC,cientista de dados,cientista de dados,-26.304490,-48.848673
2258,sao paulo,"requisitos: superior completo em estatistica, ...",NaN,marketdata,SP,cientista de dados pleno,cientista de dados,-23.550651,-46.633382
2259,sao paulo,"para fazer parte desse super time, precisamos ...",NaN,mind lab,SP,cientista de dados - vojo,cientista de dados,-23.550651,-46.633382
2260,rio de janeiro,e o que e necessario para esta vaga? formacao ...,NaN,olx brasil,RJ,cientista de dados,cientista de dados,-22.911014,-43.209373
2261,florianopolis,requisitos: graduacao em um curso ou completa ...,NaN,prime,SC,cientista de dados,cientista de dados,-27.597300,-48.549610
2262,campinas,requisitos do cargo: habilidade com mineracao ...,NaN,propz,SP,cientista de dados,cientista de dados,-22.905560,-47.060830
2263,sao paulo,"matematica: algebra linear, calculo basico; li...",NaN,recrutamento externo,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2264,porto alegre,requisitos e qualificacoes: conhecimento em ma...,NaN,renner,RS,cientista de dados,cientista de dados,-30.032500,-51.230377
2265,sao paulo,requisitos imprescindiveis: experiencia em mod...,NaN,semantix,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2266,sao paulo,"curso superior completo em estatistica, econom...",NaN,sicoob central,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2267,porto alegre,"para essa oportunidade, precisamos que voce te...",NaN,sicredi,RS,cientista de dados - gestao financeira,cientista de dados,-30.032500,-51.230377
2268,sao paulo,a sinqia e focada em criar e implantar solucoe...,NaN,sinqia,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2269,florianopolis,o que voce traz? experiencia com softwares mat...,NaN,softplan,SC,cientista de dados,cientista de dados,-27.597300,-48.549610
2270,sao paulo,necessario conhecimento nas linguagens: python...,NaN,stefanini,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2271,rio de janeiro,"atividades da vaga: coleta de dados, analise e...",NaN,stone pagamentos,RJ,cientista de dados,cientista de dados,-22.911014,-43.209373
2272,belo horizonte,o que buscamos? procuramos pessoas que buscam ...,NaN,sympla,MG,cientista de dados,cientista de dados,-19.922732,-43.945095
2273,belo horizonte,perfil do candidato: estamos em busca de uma p...,NaN,take,MG,cientista de dados,cientista de dados,-19.922732,-43.945095
2274,sao paulo,coordene a equipe de data science que gera ins...,NaN,talenses,SP,coordenador de data science,cientista de dados,-23.550651,-46.633382
2275,florianopolis,"conhecimentos: conhecimentos de sistemas: crm,...",NaN,toccato tecnologia em sistema,SC,cientista de dados,cientista de dados,-27.597300,-48.549610
2276,sao paulo,requirements and skills: 1. hard skills: super...,NaN,totvs,SP,cientista de dados,cientista de dados,-23.550651,-46.633382
2277,porto alegre,skills: solido conhecimento em estatistica; co...,NaN,wk recursos humanos,RS,cientista de dados,cientista de dados,-30.032500,-51.230377

In [298]:
df.to_csv('Vagas+Catho+Gupy+Indeed+LatitudeLongitude.csv')